
<head>
<link rel="stylesheet" href="assets/css/sidebar_resume.css">
</head>
<body>
<div class="sidenav">
  <img src="{{site.baseurl}}/assets/PortfolioPhoto.JPG" style="width:100%;">
  <br><div class="Namdiv">
  {{ site.fullnameofperson }}
  </div>
  <br>
  <div class="Descdiv">
  {{ site.selfIdentification }}
  </div>
  <br>
  <a href="#work-experience">Work Experience</a><br>
  <a href="#education">Education</a><br>
  <a href="#skills-and-competencies">Skills and Competencies</a><br>
  <a href="#research-experience">Research Experience</a><br>
  <a href="#grants-and-awards">Grants and Awards</a><br>
  <a href="#societies-and-committees">Societies and Committees</a><br>
  <a href="#references">References</a><br>
</div>

</body>

